.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.container {
 width: 100%;
 
}

a {
  padding: 20px;
  background-color: bisque;
  margin-bottom: 2px;
  border-radius: 25px;
}
